@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#root,
#defaultLayout,
#guestLayout {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "El Messiri", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #fff;
  background-color: #101010;
}

input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 0;
  background: #2e2e2e;
  color: #fff;
  width: 100%;
  font-family: "El Messiri", sans-serif;
  font-size: 17px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.login input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
  background: #2e2e2e;
  color: #fff;
  width: 100%;
  font-family: "El Messiri", sans-serif;
  font-size: 17px;
  border-radius: 4px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.loginSignup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.loginSignup input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
  background: #2e2e2e;
  color: #fff;
  width: 100%;
  font-family: "El Messiri", sans-serif;
  font-size: 17px;
  border-radius: 4px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input:focus {
  border-color: #96d3ff;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #96d3ff;
  border: 0;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 4px;
}

.btn-add {
  background-color: #00a762;
}

.btn-delete {
  background-color: #b72424;
}

.btn-logout {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 6px;
}

.btn-logout:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #afdeff;
}

.text-center {
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table > thead > tr > th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #efefef;
}

table > tbody > tr > td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.alert {
  padding: 1rem;
  background-color: rgba(255, 64, 64, 0.6666666667);
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.notification {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: #00a762;
  color: white;
  border-radius: 0.5rem;
}

/* Login/Signup forms*/
.login-signup-form {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-signup-form .form {
  width: 360px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: rgba(28, 28, 28, 0.7);
  max-width: 360px;
  padding: 34px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.login-signup-form .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
  text-align: center;
}

.login-signup-form .form .message a {
  color: #96d3ff;
  text-decoration: none;
}

/* Login/Signup form */
#defaultLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#defaultLayout aside {
  width: 240px;
  background-color: #5b08a7;
  padding: 1rem;
}

#defaultLayout aside > a {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#defaultLayout aside > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#defaultLayout header {
  height: 80px;
  padding: 2rem 3rem;
  background-color: #101010;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#defaultLayout main {
  padding: 10rem;
}

.backgroundViews {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background: url(https://fonoteka.top/uploads/posts/2022-01/1642451358_26-phonoteka-org-p-aion-fon-krasivo-28.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: bgAnimation 4s ease infinite alternate;
          animation: bgAnimation 4s ease infinite alternate;
}

@-webkit-keyframes bgAnimation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 50%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bgAnimation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 50%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedSwipe {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.aion__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.aion__logo .logo {
  background: url("../img/svg/aion__logo.svg") center/cover no-repeat;
  width: 184px;
  height: 101px;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.dark-theme .btn {
  background-color: #96d3ff;
  color: #ffffff;
}

.light-theme {
  background-color: #fff;
  -webkit-transition: background 0.4s, -webkit-transform 0.4s;
  transition: background 0.4s, -webkit-transform 0.4s;
  transition: background 0.4s, transform 0.4s;
  transition: background 0.4s, transform 0.4s, -webkit-transform 0.4s;
}

.light-theme .form {
  background-color: #959595;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, transform 0.3s;
  transition: background 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

/* Стили для светлой темы */
.light-theme .btn {
  background-color: #dadada;
  color: #000000;
  -webkit-transition: background 0.4s, -webkit-transform 0.4s;
  transition: background 0.4s, -webkit-transform 0.4s;
  transition: background 0.4s, transform 0.4s;
  transition: background 0.4s, transform 0.4s, -webkit-transform 0.4s;
}

/* Дополнительные стили для наведения курсора */
.btn:hover {
  background-color: #555; /* Цвет при наведении для обоих тем */
  color: #ffffff; /* Цвет текста при наведении для обоих тем */
}

/* Стиль для кнопки переключения темы */
.theme-switch-btn {
  width: 80px;
  height: 40px;
  background: #fff; /* начальный фон кнопки */
  position: fixed;
  border-radius: 20px; /* половина высоты кнопки, чтобы сделать ее круглой */
  cursor: pointer;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* добавлено выравнивание по центру */
  padding: 0 10px;
}

.theme-switch-btn.dark-mode {
  background: #2e2e2e; /* фон для темной темы */
  color: #fff; /* цвет текста для темной темы */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* тень для темной темы */
}

.theme-switch-btn.light-mode {
  background: #dadada; /* фон для светлой темы */
  color: #000; /* цвет текста для светлой темы */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* тень для светлой темы */
}

.theme-switch-btn.active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); /* увеличиваем размер кнопки при активации */
}

.theme-switch-btn span {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; /* делаем текст заглавными буквами */
  letter-spacing: 1px; /* увеличиваем расстояние между буквами */
}

/* Стили для формы */
.dark-theme input,
.dark-theme button {
  background-color: #2e2e2e;
  color: #ffffff;
  /* Добавьте другие стили для темной темы */
}

.light-theme input,
.light-theme button {
  background-color: #dadada;
  color: #000000;
  /* Добавьте другие стили для светлой темы */
}

/* Стили для текста и сообщений об ошибках */
.title {
  color: #ffffff; /* цвет заголовка для темной темы */
}

.controlPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 870px;
  min-height: 460px;
}
.mainBoard .account {
  width: 590px;
  height: 456px;
  border-radius: 7px 0px 0px 7px;
  background: #191919;
}
.mainBoard .accountStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 281px;
  height: 456px;
  border-radius: 0px 7px 7px 0px;
  background: #222;
}

.accountTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.accountTitle p {
  color: #fff;
  font-size: 25px;
  gap: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.toolBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0px 0px 130px;
}

.accountTitle > .username {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.settings .tool {
  width: 26px;
  height: 26px;
  background: url(../img/svg/settings/settings.svg);
}
.settings .exitBtn button {
  width: 78px;
  height: 26px;
  background: url(../img/svg/settings/btnExit.svg);
  color: #fff;
  font-family: "Source Serif Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 52px;
  gap: 10px;
}
.payment .topUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 248px;
  height: 119px;
  border-radius: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.04);
}
.payment .topUp .balanceStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.payment .topUp .balanceStatus hr {
  background-color: #fff; /* Цвет линии */
  min-width: 100px;
  height: 1px;
  margin: 8px 0px 8px 0px;
}
.payment .topUp .balanceStatus p {
  font-size: 12px;
}
.payment .vipAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 248px;
  height: 119px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.04);
}

.paymentInAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paymentInAccount input {
  width: 123px;
  height: 24px;
}
.paymentInAccount button {
  width: 75px;
  height: 24px;
  background: url(../img/svg/settings/btnTopUp.svg);
}
.paymentInAccount button p {
  color: #fff;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paymentBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 29px;
}

.vipAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 29px;
}
.vipAccount p {
  color: #fff;
  font-family: "Source Serif Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.vipAccount button {
  width: 207px;
  height: 24px;
  background: url(../img/svg/settings/vipAccountBtn.svg);
}
.vipAccount button p {
  color: #fff;
  font-family: "Source Serif Pro";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imageVip {
  width: 21px;
  height: 21px;
  background: url(../img/svg/settings/starVip.svg);
}

.statusVipAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 14px;
}

.bonusTitle p {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bonusCoin {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mmotopBonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mmotopBonus p {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mmotopBtn button {
  width: 61px;
  height: 26px;
  background: url(../img/svg/settings/btnMmotop.svg);
}

.getPresentBtn button {
  width: 104px;
  height: 26px;
  background: url(../img/svg/settings/get.svg);
}

.advancedTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.advancedTitle > p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.titleBar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dataAccount {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lastVisit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 116px;
}

.lastPayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 116px;
}

.vipStatusAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 116px;
}

.accountDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.accountDetails p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.accountDetails h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(88deg, #fc7317 -9.41%, #ffdb5a 131.68%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: end;
}

.decorative {
  height: 35px;
  margin: 30px 0px 20px 0px;
  background: url(../img/svg/decorative/decorative.svg) top no-repeat;
}

.settingsBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settingsChange {
  width: 564px;
  height: 399px;
  border-radius: 7px 0px 0px 7px;
  background: #191919;
}
.settingsChange .changeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 71px;
}
.settingsChange .changeTitle p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.changeData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
  width: 564px;
  height: 399px;
}

.changeBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 17px;
}
.changeBoard .passwordChangeBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 209px;
  height: 276px;
  border-radius: 7px 7px 7px 7px;
  background: #232323;
}
.changeBoard .emailChangeBoard {
  width: 209px;
  height: 276px;
  border-radius: 7px 7px 7px 7px;
  background: #232323;
}

.titleChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 209px;
  height: 34px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#f58400), to(#f5ce00));
  background: linear-gradient(90deg, #f58400 0%, #f5ce00 100%);
}
.titleChange h1 {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inputData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.inputData input {
  width: 181px;
  height: 26px;
  border-radius: 4px;
  background: #353535;
  text-align: center;
}

.settingsInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 257px;
  height: 399px;
  border-radius: 0px 7px 7px 0px;
  background: #222;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

::-moz-placeholder {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

:-ms-input-placeholder {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

::-ms-input-placeholder {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

::placeholder {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.btnChangePassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btnChangePassword button {
  width: 182px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2px;
  background: linear-gradient(88deg, #fc7317 -9.41%, #ffdb5a 131.68%);
}
.btnChangePassword button h1 {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btnChangeEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btnChangeEmail button {
  width: 182px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2px;
  background: linear-gradient(88deg, #fc7317 -9.41%, #ffdb5a 131.68%);
}
.btnChangeEmail button h1 {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inputDataEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.inputDataEmail input {
  width: 181px;
  height: 26px;
  border-radius: 4px;
  background: #353535;
  text-align: center;
}

.undo {
  width: 30px;
  height: 30px;
  background: url(../img/svg/settings/undo.svg) top no-repeat;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 183px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#c44c4c), to(#d33c3c));
  background: linear-gradient(90deg, #c44c4c 0%, #d33c3c 100%);
}
.error p {
  color: #fff;
  padding: 0.5em;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 183px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#60c44c), to(#3cd364));
  background: linear-gradient(90deg, #60c44c 0%, #3cd364 100%);
}
.success p {
  color: #fff;
  padding: 0.5em;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logoAion {
  min-width: 184px;
  min-height: 102px;
  background: url(../img/svg/aion__logo.svg) top no-repeat;
}

.headerInfo {
  min-width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flag {
  width: 30px;
  height: 21px;
  background: url(../img/svg/flag/Flag_of_Russia.svg);
}

.languageChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.languageChange .arrowChange {
  width: 16px;
  height: 16px;
  background: url(../img/svg/arrow/arrow_back.svg);
}

#defaultLayout a {
  color: #797979;
  font-family: "Source Serif Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#defaultLayout .active {
  color: #fff;
  font-family: "Source Serif Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playerInfo {
  min-width: 151px;
  min-height: 35px;
}
.playerInfo hr {
  background-color: #fff; /* Цвет линии */
  min-width: 190px;
  height: 1px;
  margin: 8px 0px 8px 0px;
}

.skinWhite {
  width: 634px;
  min-height: 634px;
  background: url(../img/skin/skin2.png) top no-repeat;
  background-size: contain;
  position: absolute;
  left: 100px;
}

.skinBlack {
  width: 634px;
  min-height: 634px;
  background: url(../img/skin/skin3.png) top no-repeat fixed;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  right: 100px;
}

.skinVisible {
  display: block;
}

.skinHide {
  display: none;
}