.controlPanel {
    display: flex;
    justify-content: center;
}

.mainBoard {
    display: flex;
    min-width: 870px;
    min-height: 460px;

    .account {
        width: 590px;
        height: 456px;
        border-radius: 7px 0px 0px 7px;
        background: #191919;
    }
    .accountStatus {
        display: flex;
        flex-direction: column;
        width: 281px;
        height: 456px;
        border-radius: 0px 7px 7px 0px;
        background: #222;
    }
}

.accountTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        color: #fff;
        font-size: 25px;
        gap: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.toolBar {
    display: flex;
    gap: 45px;
    align-items: center;
    margin: 35px 0px 0px 130px;
}

.accountTitle > .username {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.settings {
    display: flex;
    gap: 5px;

    .tool {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        background: url(../img/svg/settings/settings.svg) top no-repeat;
        box-shadow: 0 0 15px rgba(254, 169, 57, 0.874);
        transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;

        &:hover {
            box-shadow: 0 0 20px rgba(254, 168, 57, 1.5);
        }

        .toolIcon {
            width: 20px;
            height: 20px;
            background: url(../img/svg/settings/icons8-шестерня-50.png)
                no-repeat;
            transition: transform 0.5s ease-in-out, background 0.5s; // Добавлено свойство background
            background-size: contain;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }
}

.blinkLight {
    box-shadow: 0 0 10px rgba(255, 145, 0, 0.54);
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;

    &:hover {
        box-shadow: 0 0 20px rgba(254, 168, 57, 1.5);
        transform: scale(1.02);
    }
}

.blinkGreenLight {
    box-shadow: 0 0 10px rgba(68, 255, 0, 0.54);
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;

    &:hover {
        box-shadow: 0 0 20px rgba(68, 255, 0, 0.35);
        transform: scale(1.02);
    }
}

.blinkPurpleLight {
    box-shadow: 0 0 10px rgba(132, 0, 255, 0.54);
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;

    &:hover {
        box-shadow: 0 0 20px rgba(106, 0, 255, 0.9);
        transform: scale(1.02);
    }
}

.imageVip {
    animation: pulse 2s ease-in-out infinite;
}

// @keyframes rotate {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }

.exitBtn {
    button {
        width: 78px;
        height: 26px;
        background: url(../img/svg/settings/btnExit.svg);
        color: #fff;
        font-family: "Source Serif Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.payment {
    display: flex;
    align-items: center;
    margin-top: 35px;
    gap: 10px;

    .topUp {
        display: flex;
        width: 248px;
        height: 119px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.04);
    }
    .vipAccount {
        display: flex;
        justify-content: center;
        width: 248px;
        height: 119px;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.04);
    }
}

.bonus--table {
    p {
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

@mixin paragraphText($fontSize: 16px, $font-weight: 800) {
    color: #fff;
    font-family: "El Messiri", sans-serif;
    font-weight: $font-weight;
    letter-spacing: 0%;
    text-align: center;
    font-size: $fontSize; // Добавляем свойство font-size
    transition: all 0.3s ease;
}

.bonus--account {
    display: flex;
    gap: 5px;
    p {
        @include paragraphText(13px, 800);
    }

    #mmotop-link {
        width: 86px;
        height: 24px;

        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        border-radius: 3px;
        background: linear-gradient(
            18.57deg,
            rgb(252, 115, 23) -22.517%,
            rgb(255, 219, 90) 157.192%
        );
    }
    #mmotop-bonus {
        width: 121px;
        height: 24px;
        /* Inside Auto Layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        border-radius: 2px;
        background: linear-gradient(
            90deg,
            rgb(255, 224, 0) -100%,
            rgb(121, 159, 12) 100%
        );
    }
}

.paymentBoard {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.vipAccount {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    p {
        @include paragraphText(16px, 800);
    }

    button {
        width: 207px;
        height: 24px;
        background: url(../img/svg/settings/vipAccountBtn.svg);

        p {
            @include paragraphText(15px, 800);
        }
    }
}

.imageVip {
    width: 24px;
    height: 24px;
    background: url(/src/img/shugoexpress/premium--category/premium.svg) top
        no-repeat;
    -webkit-filter: drop-shadow(0 0 10px #ff8800);
    filter: drop-shadow(0 0 10px #ff8800);
    -webkit-transition: -webkit-filter 0.5s ease-in-out;
    transition: -webkit-filter 0.5s ease-in-out;
    transition: filter 0.5s ease-in-out;
    transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
    -webkit-animation: pulse 2s ease-in-out infinite;
    animation: pulse 2s ease-in-out infinite;

    &:hover {
        animation: pulse 1s infinite; /* Анимация мерцания */
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }
    50% {
        transform: scale(1.1);
        filter: brightness(1.5);
    }
    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}

.statusVipAccount {
    display: flex;
    gap: 14px;
}

/// BONUS

// .bonusTitle p {
//     color: #fff;
//     font-size: 19px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
// }

// .bonusCoin {
//     margin-top: 25px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .mmotopBonus {
//     display: flex;
//     gap: 10px;
//     align-items: flex-end;

//     p {
//         color: #fff;
//         font-size: 11px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: normal;
//     }
// }

// .mmotopBtn button {
//     width: 61px;
//     height: 26px;
//     background: url(../img/svg/settings/btnMmotop.svg);
// }

.achievement {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;

    .achievementValue h1 {
        color: rgb(99, 99, 99);
        font-size: 15px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
    }

    .achievement__row {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.achievementIcon {
    width: 18px;
    height: 18px;
    background: url(../img/svg/settings/trophy.svg) top no-repeat;
}

.achievementTitle p {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.getPresentBtn button {
    width: 104px;
    height: 26px;
    background: url(../img/svg/settings/get.svg);
}

.advancedTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.advanced {
    width: 100%;
}

.advancedTitle > p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.titleBar {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.dataAccount {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.lastVisit {
    display: flex;
    align-items: flex-end;
    gap: 116px;
}

.lastPayment {
    display: flex;
    align-items: flex-end;
    gap: 116px;
}

.vipStatusAccount {
    display: flex;
    align-items: flex-end;
    gap: 116px;
}

.accountDetails {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
    gap: 20px;

    p {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    h1 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: linear-gradient(88deg, #fc7317 -9.41%, #ffdb5a 131.68%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: end;
    }
}

.decorative {
    height: 35px;
    margin: 30px 0px 20px 0px;
    background: url(../img/svg/decorative/decorative.svg) top no-repeat;
}

.accountBoard {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius: 3px;
    width: 505px;
    height: 121px;
    background: rgba(255, 255, 255, 0.04);
    padding: 0px 23px 0px 0px;
}

.classIcons {
    display: flex;
    flex-direction: column;
    width: 71px;
    height: 79px;
    margin: 0px 5px 0px 5px;
}

.accountInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userBoard {
    display: flex;
}

.usernameInfo p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fixCharacter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
    h2 {
        text-align: center;
        font-size: 11px;
    }
}

.fixBtn button {
    width: 201px;
    height: 24px;
    background: url(../img/svg/btnFixCharacter.svg);

    p {
        @include paragraphText(15px, 800);
    }
}

.selHero {
    width: 186px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.select-Hero {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #b6b6b6;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #222222;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/svg/arrow/arrowSelect.svg");

    background-color: #191919;
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 1em auto, 100%;
}

.select-Hero::-ms-expand {
    display: none;
}
.select-Hero:hover {
    border-color: #222222;
    color: #fff;
}
.select-Hero:focus {
    border-color: #222222;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #fff;
    outline: none;
}

.isLoading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 40px;
    height: 10px;
    background: radial-gradient(circle closest-side, #fff 90%, #0000) 0 0/33%
        100% space;
    clip-path: inset(0 100% 0 0);
    animation: d1 0.5s steps(4) infinite;
}
@keyframes d1 {
    to {
        clip-path: inset(0 -34% 0 0);
    }
}

// *[dir="rtl"] .select-Hero,
// :root:lang(ar) .select-Hero,
// :root:lang(iw) .select-Hero {
//     background-position: left 0.7em top 50%, 0 0;
//     padding: 0.6em 0.8em 0.5em 1.4em;
// }

/// ДРУГОЙ SELECT

// .select {
//     position: relative;
//     display: block;
//     min-width: 220px;
//     width: 100%;
//     max-width: 400px;
//     margin-bottom: 20px;
// }

// .select__head {
//     width: 100%;
//     max-width: 100%;
//     box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
//     border-radius: 10px;
//     padding: 14px 15px;
//     font-size: 14px;
//     line-height: 18px;
//     color: rgba(66, 67, 72, 0.8);
//     cursor: pointer;
// }

// .select__head::after {
//     width: 12px;
//     height: 8px;
//     background: #fff
//         url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%23ED266A'/%3E%3C/svg%3E%0A")
//         no-repeat center / cover;
//     position: absolute;
//     right: 20px;
//     bottom: 50%;
//     transform: translateY(50%);
//     content: "";
//     display: block;
//     transition: 0.2s ease-in;
// }

// .select__head.open::after {
//     transform: translateY(50%) rotate(180deg);
// }

// .select__list {
//     display: none;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     right: 0;
//     background: #fff;
//     box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
//     border-radius: 10px;
//     margin-top: 5px;
//     max-height: 205px;
//     overflow-x: hidden;
//     overflow-y: auto;
//     z-index: 100;
//     margin: 0;
//     padding: 0;
//     font-size: 14px;
//     color: #424348;
//     scrollbar-color: dark;
//     scrollbar-width: thin;
//     overscroll-behavior: contain;
// }

// .select__list::-webkit-scrollbar {
//     width: 7px;
//     background-color: #f8f9fa;
//     padding: 5px;
// }

// .select__list::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background-color: #d9d9d9;
// }

// .select__list .select__item {
//     position: relative;
//     border-top: 1px solid rgba(224, 229, 231, 0.5);
//     padding: 10px 15px;
//     cursor: pointer;
//     list-style-type: none;
// }

.language-selector {
    position: relative;
}

.language-button {
    position: relative;
    display: inline-block;
}

.current-language {
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    img {
        background-size: contain;
        width: 100px;
        height: 100px;
    }
}

.language-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.language-item {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #e0e0e0;
    }

    &.active {
        background-color: #007bff;
        color: #fff;

        &:hover {
            background-color: #0056b3;
        }
    }
}
