.logoAion {
    min-width: 45px;
    min-height: 45px;
    background: url(../img/svg/aionworld_logo.png) top no-repeat;
    background-size: contain;
    filter: drop-shadow(1px 1px 30px rgba(255, 255, 255, 0.7));
    transition: transform 0.6s ease, filter 0.6s ease; /* добавлено свойство transition для filter */
}

.logoAion:hover {
    transform: rotate(360deg);
    filter: drop-shadow(1px 1px 30px rgba(255, 255, 255, 1.7));
}
.headerInfo {
    min-width: 525px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-family: "El Messiri", sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: left;
    }
}

.content_header {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 50px;
}

.flag {
    width: 30px;
    height: 21px;
    background: url(../img/svg/flag/Flag_of_Russia.svg);
}

.languageChange {
    display: flex;
    align-items: center;
    gap: 15px;

    .arrowChange {
        width: 16px;
        height: 16px;
        background: url(../img/svg/arrow/arrow_back.svg);
    }
}

#defaultLayout a {
    color: #797979;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#defaultLayout .active {
    color: #fff;
    font-family: "Source Serif Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.balance {
    display: flex;
    justify-content: space-between;
}

.playerInfo {
    display: flex;
    align-items: center;
    gap: 22px;
    min-width: 151px;
    min-height: 35px;
    p {
        @include paragraphText(16px, 800);
    }
}

.exit {
    width: 24px;
    height: 24px;
}

.btn-logout {
    width: 24px;
    height: 24px;
    background: url(../img/svg/logout.svg) top no-repeat;
    // background: url(../img/svg/settings/settings.svg) top no-repeat;
    background-size: contain;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #ffffff; // Цвет текста
    font-size: 18px; // Размер шрифта
    transition: color 0.3s ease, font-size 0.3s ease; // Плавные переходы
    display: inline-block;
    margin-right: 20px;

    &:hover {
        color: #ff00ff; // Цвет при наведении
        font-size: 20px; // Размер шрифта при наведении

        // Добавьте другие стили или анимации при наведении по вашему усмотрению
    }
}

// .active-link {
// }
