/* Модальное окно */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; // Используем viewport width для гарантированного покрытия ширины экрана
    height: 100vh; // Используем viewport height для гарантированного покрытия высоты экрана
    background: url("../img/site/registr__layer_dashboard.png") no-repeat center
        center;
    background-size: cover; // Покрывает весь экран, обрезая лишние части
    z-index: 1000; // Обеспечивает правильный порядок наложения
}
.modal-overlay-terms {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        0,
        0,
        0,
        0.8
    ); /* Slightly darker for better visibility */
    z-index: 2000; /* Ensure this is higher than the registration overlay */
}

.modalTerms {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 2001; /* Ensure this is higher than the registration modal */
}

.modal {
    width: 500px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d1d1d;
    padding: 50px;
    border: 1px solid #1d1d1d;
    text-align: center;
    border-radius: 20px;
    animation: opacity 0.5s; /* Длительность анимации 0.5 секунды (указать нужное значение) */

    p {
        font-size: 18px;
    }
    h2 {
        font-size: 18px;
    }
}

.modal--content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#purchaseStatus {
    p {
        color: rgb(255, 255, 255);
        font-family: "El Messiri", sans-serif;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
    }
}

.btnStore {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@mixin modalButton {
    min-width: 100%;
    height: 29px;
    display: flex;

    border-radius: 4px;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        18.57deg,
        rgb(252, 115, 23) -16.21%,
        rgb(255, 219, 90) 144.917%
    );
    p {
        color: rgb(255, 255, 255);
        font-family: "El Messiri", sans-serif;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0%;
    }
}

#confirm {
    @include modalButton;
}

#close {
    @include modalButton;
}

.modalTerms {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d1d1d;
    padding: 50px;
    border: 1px solid #1d1d1d;
    border-radius: 5px;
    animation: opacity 0.5s; /* Длительность анимации 0.5 секунды (указать нужное значение) */

    p {
        @include paragraphText(20px, 800);
        color: #c2c2c2;
        text-align: left;
        margin: 0px 0px 20px 0px;
        text-transform: uppercase;
    }
    h2 {
        @include paragraphText(16px, 600);
        color: rgb(149, 149, 149);
        text-align: left;
        margin: 0px 0px 5px 0px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h3 {
        @include paragraphText(24px, 800);
        color: #b0b0b2;
        text-align: center;
        margin: 0px 0px 5px 0px;
        text-transform: uppercase;
    }
}
