.controlPanel {
    display: flex;
    justify-content: center;
}

.mainBoard {
    display: flex;
    min-width: 870px;
    min-height: 460px;

    .account {
        width: 590px;
        height: 456px;
        border-radius: 7px 0px 0px 7px;
        background: #191919;
    }
    .accountStatus {
        display: flex;
        flex-direction: column;
        width: 281px;
        height: 456px;
        border-radius: 0px 7px 7px 0px;
        background: #222;
    }
}

.accountTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        color: #fff;
        font-size: 25px;
        gap: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.toolBar {
    display: flex;
    gap: 45px;
    align-items: center;
    margin: 24px 0px 0px 130px;
}

.accountTitle > .username {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.settings {
    display: flex;
    gap: 5px;
    .tool {
        width: 26px;
        height: 26px;
        background: url(../img/svg/settings/settings.svg);
    }
    .exitBtn {
        button {
            width: 78px;
            height: 26px;
            background: url(../img/svg/settings/btnExit.svg);
            color: #fff;
            font-family: "Source Serif Pro";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.payment {
    display: flex;
    align-items: center;
    margin-top: 52px;
    gap: 10px;

    .topUp {
        display: flex;
        width: 248px;
        height: 119px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.04);

        .balanceStatus {
            display: flex;
            align-items: center;
            // gap: 10px;
            justify-content: space-evenly;

            hr {
                background-color: #fff; /* Цвет линии */
                min-width: 100px;
                height: 1px;
                margin: 8px 0px 8px 0px;
            }

            p {
                font-size: 12px;
            }
        }
    }
    .vipAccount {
        display: flex;
        justify-content: center;
        width: 248px;
        height: 119px;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.04);
    }
}

.paymentInAccount {
    display: flex;
    gap: 5px;
    justify-content: center;

    input {
        width: 123px;
        height: 24px;
    }
    button {
        width: 75px;
        height: 24px;
        background: url(../img/svg/settings/btnTopUp.svg);
        p {
            color: #fff;
            font-size: 9px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.paymentBoard {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.vipAccount {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 29px;

    p {
        color: #fff;
        font-family: "Source Serif Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    button {
        width: 207px;
        height: 24px;
        background: url(../img/svg/settings/vipAccountBtn.svg);

        p {
            color: #fff;
            font-family: "Source Serif Pro";
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.imageVip {
    width: 21px;
    height: 21px;
    background: url(../img/svg/settings/starVip.svg);
}

.statusVipAccount {
    display: flex;
    align-items: flex-end;
    gap: 14px;
}

.bonusTitle p {
    color: #fff;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bonusCoin {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mmotopBonus {
    display: flex;
    gap: 10px;
    align-items: flex-end;

    p {
        color: #fff;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.mmotopBtn button {
    width: 61px;
    height: 26px;
    background: url(../img/svg/settings/btnMmotop.svg);
}

.getPresentBtn button {
    width: 104px;
    height: 26px;
    background: url(../img/svg/settings/get.svg);
}

.advancedTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.advancedTitle > p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.titleBar {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.dataAccount {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.lastVisit {
    display: flex;
    align-items: flex-end;
    gap: 116px;
}

.lastPayment {
    display: flex;
    align-items: flex-end;
    gap: 116px;
}

.vipStatusAccount {
    display: flex;
    align-items: flex-end;
    gap: 116px;
}

.accountDetails {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
    gap: 15px;

    p {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    h1 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: linear-gradient(88deg, #fc7317 -9.41%, #ffdb5a 131.68%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: end;
    }
}

.decorative {
    height: 35px;
    margin: 30px 0px 20px 0px;
    background: url(../img/svg/decorative/decorative.svg) top no-repeat;
}
