.donateBoard {
    position: absolute;
    width: 453px;
    height: 660px;
    border-radius: 12px;

    background: rgb(25, 25, 25);
}

.container {
    display: flex;
    justify-content: center;
}

.paymentTitle {
    /* фрейм 18 */
    left: 606px;
    right: 1014px;
    top: 373px;
    bottom: 648px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 5px 0px;
}

.donatePay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paymentSystems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 2px;
    h2 {
        color: rgb(255, 255, 255);
        font-family: "El Messiri", sans-serif;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: left;
    }
    button {
        width: 133px;
        height: 42px;
        /* Автолейаут */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;

        /* Inside Auto Layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 1px;
        border-radius: 2px;
        background: rgb(35, 35, 35);
    }
}

.enotSystem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 133px;
    height: 42px;
    background: rgb(35, 35, 35);
}

.paymentRules {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lavaSystem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 133px;
    height: 42px;
    background: rgb(35, 35, 35);
}

.paypalychSystem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 133px;
    height: 42px;
    background: rgb(35, 35, 35);
}

.donate--rules {
    /* фрейм 17 */
    width: 384px;
    left: 616px;
    right: 920px;
    top: 433px;
    bottom: 399px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    gap: 15px;
}

.additionalContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPay__row {
    /* фрейм 15 */
    position: relative;
    width: 223px;
    height: 58px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // padding: 39px;
    margin-top: 15px;
    margin-left: 20px;
}

.activePayment {
    background: rgb(254, 168, 57) !important;
    box-shadow: 0 0 10px rgba(254, 168, 57, 0.5); /* Тень для активной кнопки */
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s; /* Плавная анимация изменения фона, тени и масштаба */
    transform-origin: center bottom;
}

/* Добавим изменение цвета тени при наведении */
.activePayment:hover {
    box-shadow: 0 0 15px rgba(254, 168, 57, 1.5); /* Более выраженная тень при наведении */
}

.donate--rules li {
    color: #878787; /* Цвет текста */
    list-style-type: none; /* Убираем маркеры списка */
    position: relative;
    padding: 6px 0px 6px 5px; /* Добавляем отступ слева */
    transition: transform 0.3s; /* Трансишн для изменения масштаба */
}

/* Эффект при наведении */
.donate--rules li:hover {
    transform: scale(1.08); /* Увеличиваем масштаб при наведении */
    color: #b2b2b2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Добавляем тень при наведении */
    border-radius: 3px;
}

/* Стили для активных элементов списка (например, выделенных программно) */
.donate--rules li.active {
    background-color: #ff7f50;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 127, 80, 0.7);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.payInput input {
    /* фрейм 14 */
    width: 223px;
    height: 26px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.payBtn button {
    /* фрейм 8 */
    position: static;
    width: 223px;
    height: 26px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 6px 0px;
    border-radius: 2px;

    background: rgb(254, 168, 57);

    h2 {
        color: rgb(255, 255, 255);
        font-family: "El Messiri", sans-serif;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: left;
    }
}

.donate--title {
    width: 408px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    p {
        color: rgb(254, 168, 57);
        font-size: 20px;
        font-weight: 900;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
    }
}

.informationPayment button {
    width: 405px;
    height: 42px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 0px 1px;
    border-radius: 2px;
    background: rgb(35, 35, 35);
}

.paymentMethods {
    display: flex;
    flex-direction: row;
}
