.expressBoard {
    width: 100%;
    height: 728px;
    left: 566px;
    right: 395px;
    top: 271px;
    bottom: 87px;

    border-radius: 19px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    background: rgb(25, 25, 25);
}

.product {
    width: 219px;
    height: 324px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border-radius: 13px;
    gap: 18px;

    background: rgb(16, 16, 16);

    .image--product {
        width: 199px;
        height: 200px;
        /* Автолейаут */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 12px;

        background: rgb(24, 24, 24);

        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }

    .product--information {
        width: 197px;
        /* Автолейаут */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.express--products {
    width: 937px;
    min-height: 100%;
    border-radius: 40px;
    /* Автолейаут */
    display: flex;
    flex-wrap: wrap; /* Разрешаем автоматический перенос элементов на новую строку */
    // overflow: scroll;
    flex-direction: row;
    align-items: flex-start;
    // padding: 15px 63px 15px 21px;
    padding: 0px 0px 0px 21px;
    flex: none;
    gap: 11px;
    transform-style: preserve-3d; /* Сохраняем 3D-пространство */
}

// .express--products::-webkit-scrollbar {
//     width: 0px; /* Ширина полосы прокрутки */
// }

.expressBtn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.lotProducts input {
    height: 30px;
    width: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.expressBtn button {
    width: 138px;
    height: 29px;
    display: flex;

    border-radius: 4px;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        18.57deg,
        rgb(252, 115, 23) -16.21%,
        rgb(255, 219, 90) 144.917%
    );
    p {
        color: rgb(255, 255, 255);
        font-family: "El Messiri", sans-serif;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0%;
    }
}

.product--title h2 {
    color: rgb(255, 255, 255);
    font-family: "El Messiri", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0%;
}

.product--price h3 {
    color: rgb(255, 255, 255);
    font-family: "El Messiri", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0%;
}

.express--header {
    width: 959px;
    height: 62px;
    left: 566px;
    right: 395px;
    top: 237px;
    bottom: 781px;
    justify-content: center;
    gap: 54px;

    .express--category {
        /* Автолейаут */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 840px;
    }
}

.premium button {
    width: 30px;
    height: 30px;
    background: url(../img/shugoexpress/premium--category/premium.svg) top
        no-repeat;
    filter: drop-shadow(0 0 10px #ff8800);
    transition: filter 0.5s ease-in-out; /* Плавное изменение фильтра (тени) */

    &:hover {
        animation: pulse 1s infinite; /* Анимация мерцания */
    }
    animation: pulse 2s ease-in-out infinite;
}

// СКРОЛЛ

// .express--scroll {
//     border-radius: 40px;
//     overflow: scroll;
// }

.express--scroll::-webkit-scrollbar {
    width: 0px; /* Ширина полосы прокрутки */
}

// СКРОЛЛ

.express--scroll {
    overflow-y: auto;
    max-height: 640px; /* Укажите желаемую максимальную высоту контейнера */
    margin: 9px 0px 0px 0px;
    border-radius: 50px;
    z-index: 1; /* Установите значение z-index на ваше усмотрение */
    // &::before,
    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     height: 20px;
    //     border-radius: 20px;
    //     z-index: -1;
    // }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 21px;
    //     width: 911px;
    //     height: 640px;
    //     z-index: 2;
    //     top: 70px;
    //     border-radius: 20px;
    //     box-shadow: 0 0 30px rgba(0, 0, 0, 0),
    //         inset 0 0 10px rgba(255, 255, 255, 0.45); /* Усиленный эффект тени сверху */
    // }
}

// &::after {
//     left: 20px;
//     width: 910px;
//     z-index: 1;
//     bottom: 15px;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.3),
//         inset 0 0 5px rgba(255, 255, 255, 0.5); /* Тень снизу */
// }

.express--header {
    display: flex;
    gap: 50px;
}
.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79a70a;
    background: linear-gradient(#f70505 0%, #8f0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #8f0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8f0808;
}
.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8f0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8f0808;
}

.expressContent {
    overflow: hidden;
    // height: 100%;
    display: flex;
    flex-direction: column;
}

// burger

.burgerClose {
    display: none;
    cursor: pointer;
    color: #fff; /* Цвет крестика */
    opacity: 0; /* Установим начальную непрозрачность */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#menuToggle {
    display: block;
    position: relative;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 35px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-10px, -20px);
    background: #cdcdcd;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 10px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.balanceWP {
    display: flex;
    justify-content: center;
    h3 {
        color: rgb(255, 255, 255);
        font-family: "El Messiri", sans-serif;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
}

///burger

.expressmenu {
    display: block;
    position: fixed;
    overflow: scroll;
    right: -260px; /* Изначально за пределами экрана */
    width: 250px;
    height: 73%;
    top: 195px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    border-radius: 15px;
    animation: fadeIn 0.4s ease-in-out forwards; /* Анимация появления */

    h2 {
        color: rgb(255, 255, 255);
        font-family: "El Messiri", sans-serif;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
}

.expressmenu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.expressmenu li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    color: #fff; /* Цвет текста */
    cursor: pointer;
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.expressmenu h2:hover {
    color: #ffcc00; /* Цвет текста при наведении */
}

.expressBurgerMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    right: -260px; /* Изначально за пределами экрана */
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    border-radius: 15px;
    animation: fadeIn 0.4s ease-in-out forwards; /* Анимация появления */
}

.expressSelect {
    display: flex;
    justify-content: center;

    right: -260px; /* Изначально за пределами экрана */
    width: 250px;
    height: 25%;
    background-color: rgb(25, 25, 25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    border-radius: 15px;
    animation: fadeIn 0.4s ease-in-out forwards; /* Анимация появления */
}

.expressmenu::-webkit-scrollbar {
    width: 0px; /* Ширина полосы прокрутки */
}
///burger
