.agreement {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.agreement-table {
    display: flex;
    height: 400px;
    flex-direction: column;
    gap: 20px;
    background-color: rgba($color: #1a1a1a, $alpha: 1);
    border-radius: 10px;
    padding: 32px 5px 32px 5px;
    overflow: scroll;
}

.desc--agreement {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.agreement-table::-webkit-scrollbar {
    width: 0px;
}

.btn--agreement button {
    width: 100%;
    height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(
        18.57deg,
        rgb(252, 115, 23) -16.21%,
        rgb(255, 219, 90) 144.917%
    );

    h2 {
        color: rgb(255, 255, 255);
        font-family: "El Messiri", sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0%;
    }
}

.desc--agreement {
    width: 700px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.title--agreement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.checkBox input {
    width: 14px;
    height: 14px;
}
